<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div  *ngIf="animals">
    <h1>All Animals</h1>
    <div *ngFor='let animal of animals'>
      <h4>Name: <span>{{ animal.name }}</span></h4>
      <h4>Population: <span>{{ animal.population }}</span></h4>
      <button (click)='getAnimal(animal._id)'>Show</button>
      <hr>
    </div>
    <h1>Show Animal</h1>
    <div *ngIf='showAnimal'>
      <h4>Name: <span>{{ showAnimal.name }}</span></h4>
      <h4>Population: <span>{{ showAnimal.population }}</span></h4>
      <button (click)='clear()'>Clear show</button>
    </div>
  </div>
    <h1>Add Animal</h1>
    <form action="" (submit)='addAnimal()'>
      <table>
        <tr>
          <td>Name:</td>
          <td><input type="text" name="createAnimal.name" [(ngModel)]='createAnimal.name'></td>
        </tr>
        <tr>
          <td>Population:</td>
          <td><input type="number" name="createAnimal.population" [(ngModel)]='createAnimal.population'></td>
        </tr>
        <tr>
          <td><button type="submit">Add Animal</button></td>
        </tr>
      </table>
    </form>
    {{ createAnimal | json }}
</div>


