#wrapper {
    /* background-image: url("./../images/jsloups.png"); */
    height: 1000px;
    width: 970px;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
}
#header, #left_content, #main_content, #footer {
    /* opacity: .5; */
    border: 1px solid red;
    border-radius: 15px;
}
#header{
    /* background-color: blue; */
    height: 60px;
    width: 950px;
    margin: 12px 0 0 12px;
}
#left_content, #main_content {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    margin-left: 12px;
}
#left_content {
    height: 190px;
    width: 170px;
    /* background-color: red; */
}
#left_content ul li {
    font-size: .8em;
    text-decoration-line: underline;
}
#left_content ul {
    padding-left: 30px;
}
#left_content ul li ul {
    padding-left: 15px;
}
#main_content {
    height: 420px;
    width: 750px;
    /* background-color: red; */
}
#footer {
    height: 60px;
    width: 950px;
    /* background-color: red; */
    border-radius: 15px;
}