<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Add a Book</h1>
    @model Book
    <form action="AddBook" method="post">
        <p>Title:</p>
        <input type="text" asp-for="Title" id="">
        <span asp-validation-for="Title"></span>
        <p>Author:</p>
        <input type="text" asp-for="Author" id="">
        <span asp-validation-for="Author"></span>
        <input type="submit" value="Add Book">
    </form>
</body>
</html>